.game {
  background-color: #efecca;
  width: 100vw;
  height: 100vh;
}

.game-winner {
  margin-top: 35px;
  text-align: center;
  color: #1f1456;
  height: 100px;
  font-size: 78px;
  font-family: 'Bitter', serif;
  user-select: none;
}

.game-board {
  margin: 0 auto;
  margin-top: 50px;
  border-spacing: 0px;
}
